
.jumbo-container{
	display: flex;
	justify-content: center;
	height: 10px;
	padding-bottom: 40px;
}

.tom{
	background-image: url("../images/tom.png")	; 
	background-position: inherit;
}

.jerry {
	background-image: url("../images/jerry.png")	 ;
		background-position: inherit;
}

.fish {
	background-image: url("../images/fish.png")	 ;
		background-position: inherit;
}


.goal {
	background-image: url("../images/cheese.png")	 ;
}



.jumbo {
	background-position: center;
	background-repeat: no-repeat;
	background-image: center;
	background-size: contain;
	border-color: blue;
	height: 20px;

	font-size: 10px;
}

.pos-button {
	font-family: cursive;
	font-size: 10px;
}

.difficulty-containter{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
		width: 120px;


}
.difficulty-button{
	border-style: groove;

}

.easy{
	background-color: rgb(173,255,47);
}
.medium{
	background-color: rgb(255,215,0);
}
.hard{
	background-color: rgb(139,0,0);
}


.reset{
	text-align: center;
	padding-left: 10%
}

.reset-button{
	background-color: red;
	color: black;
}

.grid-top-container{
	display: flex;
	justify-content: center;

}


.grid-canvas {
	width:	400px;
	height: 400px;
}

.grid-background {
	display: grid;
	width : 100%;
	height: 100%;
	grid-template-columns: repeat(10,10% );	/* 10 percent for charcter images */
	grid-template-rows: repeat(10,10%);
	justify-content: space-around;
	background-image: url("../images/BlackBox.png")	 ;
	background-size: 10% 10%; 
}


.grid-block {
	border-style: solid;
	grid-column-start:1;
	grid-row-start: 1;
	background-size: contain;
	background-repeat: no-repeat;
}



.circle-block {
	border-style: solid;
	border-radius: 100%;
	grid-column-start:5;
	grid-row-start: 5;
	text-align: center;
	padding-top: 20%;
	font-size: 100%;
	color: red;
}

.helper-block {
	grid-column-start:1;
	grid-row-start: 1;
	text-align: center;
	background-color: rgba(255,0,255,0.3);
}

.message-container {
	display: flex;
	justify-content: center;
}
.messenger-box {
	animation-duration: 5s;
	animation-name: slide;
	animation-fill-mode: none;
	padding-left: 10%;
	font-size: small;
	color: red;
}

@keyframes slide {
	from {
		padding-left :  100%;
		font-size: small;
	}

	to {
		padding-left:  : 0%;
		clear: all; 
	}


}


.goal-block {

	animation-duration: 3s;
	animation-iteration-count: infinite;

  	animation-name: compress_expand;
	grid-column-start:10;
	grid-row-start: 10;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


@keyframes compress_expand {
  from {
    height: 100% ;
    width:  100% ;

  }

  to {
    height: 70% ;
    width:  70% ;  
	}
}




